*{
margin: 0;
padding: 0;
}

header{
    background-image: url(digital-background-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav{
    float: left;
    list-style: none;
    margin-top: 30px;
    margin-left: 10px;
}

.main-nav li{
    display: inline-block;
    color: white;
} 

.main-nav li a{
    text-decoration: none;
    padding: 6px;
    font-family:"Roboto", "Sans-Serif";
    font-size: 18px;
}

.time{
    float: right;
    text-align: right;
    list-style: none;
    margin-top: 20px;
    padding: 3px;
    font-size: 16px;
    margin-right: 12px;
    color: white;
}

.center{
    color: white;
    position: absolute;
    top: 65%;
    left:33%;
    font-family:"Roboto", "Sans-Serif";
    font-size: 28px;
    padding: 10px;
 }

 .bottom-right{
    text-align: right;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 65%;
    font-family:"Roboto", "Sans-Serif";
    font-size: 22px;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
 }
